.footer-wave {
  width: 100%; }

.footer-wrapper {
  display: -ms-flexbox;
  width: 100%;
  position: relative; }

footer {
  background: #272840;
  margin-top: 80px; }
  footer .footer-container-top {
    height: 40px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.18);
    padding-left: 32px;
    padding-right: 32px; }
  footer .footer-site {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100%;
    margin: auto; }
    footer .footer-site .site-dropdown {
      width: 234px;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: -0.5px;
      color: #ffffff; }
    footer .footer-container .linkgenesis-content .linkgenesis-menu .our-site-dropdown {
      position: relative;
    }
      footer .footer-container .linkgenesis-content .linkgenesis-menu .dropdown-menu {
        padding: 8px 0px;
        left: -35px;
        bottom: 30px;
        width: 100%;
        height: 150px;
        overflow-y: scroll; }
        footer .footer-container .linkgenesis-content .linkgenesis-menu .dropdown-menu ul {
          padding-left: 0;
          display: flex;
          flex-direction: column;
        }
          footer .footer-container .linkgenesis-content .linkgenesis-menu .dropdown-menu ul li {
            padding-left: 16px;
            width: 100%;
            height: 36px;
            cursor: pointer;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: -0.4px;
            color: #abaeb3;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid #e8eaed; }
            footer .footer-site .site-dropdown .dropdown-menu ul li:hover {
              background-color: #f2f4f7;
              color: #00c7e6; }
      footer .site-dropdown-button {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer; }

footer .site-dropdown-button img {
  width: 15px;
}
      footer .footer-site .site-dropdown img {
        width: 24px;
        margin-top: -3px; }
      footer .footer-site .site-dropdown.our-site-dropdown {
        background: rgba(255, 255, 255, 0);
        border-right: 1px solid rgba(250, 250, 250, 0.18);
        border-left: 1px solid rgba(250, 250, 250, 0.18); }
        footer .footer-site .site-dropdown.our-site-dropdown:hover {
          background: rgba(255, 255, 255, 0.1);
          border-right: 1px solid rgba(250, 250, 250, 0.18);
          border-left: 1px solid rgba(250, 250, 250, 0.18); }
        footer .footer-site .site-dropdown.our-site-dropdown ul {
          box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.05); }
      footer .footer-site .site-dropdown.other-site-dropdown {
        border-right: 1px solid rgba(250, 250, 250, 0.18); }
        footer .footer-site .site-dropdown.other-site-dropdown:hover {
          border-right: 1px solid rgba(250, 250, 250, 0.18);
          background: rgba(255, 255, 255, 0.1); }
        footer .footer-site .site-dropdown.other-site-dropdown ul {
          border-radius: 6px;
          box-shadow: 0 0 1px 0 rgba(9, 30, 66, 0.05); }
    footer .footer-site .site-area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
    footer .footer-site .site-map {
      width: 173px;
      height: 100%;
      border-right: 1px solid rgba(250, 250, 250, 0.18);
      border-left: 1px solid rgba(250, 250, 250, 0.18);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      text-align: right;
      color: #00c7e6;
      cursor: pointer; }
      footer .footer-site .site-map img {
        width: 20px; }
      footer .footer-site .site-map:hover {
        width: 173px;
        height: 100%;
        border-right: 1px solid rgba(250, 250, 250, 0.18);
        border-left: 1px solid rgba(250, 250, 250, 0.18);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.4px;
        text-align: right;
        color: #00c7e6;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer; }
  footer .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 10;
    padding-top: 46px;
    padding-bottom: 24px; }
    footer .footer-container .linkgenesis-content {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      footer .footer-container .linkgenesis-content .linkgenesis-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        footer .footer-container .linkgenesis-content .linkgenesis-menu .linkgenesis-logo img {
          width: 174px;
          margin-top: -29px; }
        footer .footer-container .linkgenesis-content .linkgenesis-menu .pc-version {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
        footer .footer-container .linkgenesis-content .linkgenesis-menu .pc-version button {
          color: white;
          border: 1px solid white;
          background: transparent;
        }
footer .footer-container .linkgenesis-content .linkgenesis-menu > ul {
          margin-top: 22.6px;
          display: flex;
          flex-direction: row;
          list-style: none;
          padding-left: 0; }
          footer .footer-container .linkgenesis-content .linkgenesis-menu > ul li {
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.5px;
            color: #ffffff;
          }
footer .footer-container .linkgenesis-content .linkgenesis-menu ul li:not(:last-child) {
  margin-right: 10px;
}
      footer .footer-container .linkgenesis-content p {
        margin-top: 17px;
        font-size: 10px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        color: #ffffff; }
      footer .footer-container .kosdaq-logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-top: 18px;
      }
    footer .footer-container .kosdaq-logo img {
      width: 197px; }
