 
  
  
    .title {
      width: 210px;
      height: 35px;
      font-family: NotoSansKR;
      font-size: 23px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.52;
      letter-spacing: -0.6px;
      color: var(--dark);  
      color: #14171a; 
      margin-left: 32px;
      margin-top: 53px;
    }
   
    .--char32x32 {
        width: 32px;    
        height: 32px;
        object-fit: contain;
        transform: rotate(15deg);
        margin-left: 197px;
        position: absolute;
        margin-top: -34px;
    }
      
         .subTitle {
            width: 268px;
            height: 18px;
            font-family: NotoSansKR;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--battleship-grey);
            color: #6d7075;
            clear: both;
            margin-top: 10px;
            margin-left: 32px; 
        }
        
        .Rectangle-4k {
            width: 296px;
            height: 56px;
            border-radius: 8px;
            background-color: #ffeb00; 
            margin-top: 45px;
            margin-left: 32px;
        }
        .Rectangle-4n {
            width: 296px;
            height: 56px;
            border-radius: 8px;
            background-color: #1ec800; 
            margin-top: 12px;
            margin-left: 32px;
        }
        .Rectangle-4f {
            width: 296px;
            height: 56px;
            border-radius: 8px;
            background-color: #415993; 
            margin-top: 12px;
            margin-left: 32px;
        }
        .Rectangle-4l {
            width: 296px;
            height: 56px;
            border-radius: 8px;
            background-color: #0b73ae; 
            margin-top: 12px;
            margin-left: 32px;
        }
        .kakao_login {
            width: 40px;
            height: 40px;
            margin-top: 7px;
            margin-left: 16px;
            object-fit: contain;
        }
        .kakaoT {
            width: 128px;
            height: 22px;
            font-family: NotoSansKR;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: var(--dark);
            color: #14171a;
            position: absolute;
            margin-top: 17px;
            margin-left: 42px;
    
        }
   
        .naver_login { 
            width: 40px;
            height: 40px;
            margin-top: 7px;
            margin-left: 16px;
            object-fit: contain;
        }
        
        .naverT {
            width: 100px;
            height: 22px;
            font-family: NotoSansKR;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: var(--dark);
            color: #fff;
            position: absolute;
            margin-top: 17px;
            margin-left: 42px;
    
        }
        .Oval-8 {
            width: 40px;
            height: 40px;
            margin-top: 7px;
            margin-left: 16px;
            object-fit: contain;
        }
         .faceT {
            width: 128px;
            height: 22px;
            font-family: NotoSansKR;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: var(--white);
            color: #fff;
            position: absolute;
            margin-top: 17px;
            margin-left: 42px;
    
        }
        .Bitmap {
            width: 40px;
            height: 40px;
            margin-top: 7px;
            margin-left: 16px;
            object-fit: contain;
        }
        .linkT {
            width: 128px;
            height: 22px;
            font-family: NotoSansKR;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: var(--white);
            color: #fff;
            position: absolute;
            margin-top: 17px;
            margin-left: 42px;
    
        }
        .ft {
            width: 231px;
            height: 23px;
            margin-top: 44px;
            margin-left: 99px;
        }
       
        .subtle_1 {
            
            width: 81px;
            height: 20px;
            font-family: NotoSansKR;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--battleship-grey);
            margin-left: 4px;
            color: #657786;
            position: absolute;
        }
        .subtle_2 {
            width: 52px;
            height: 20px;
            font-family: NotoSansKR;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: var(--battleship-grey);
            color: #657786;
            margin-left: 159px;  
        }
        .small {
          width: 26px;
          height: 23px;
          font-family: NotoSansKR;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.64;
          letter-spacing: normal;
          color: var(--dark);
          position: absolute;
          margin-left: 97px;  
          color: #14171a;
          margin-top: -2px;
        }
        