.badge-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
.board-badge {
     padding: 0 .64rem;
     height: 24px;
     border-radius: 13px;
     border: 1px solid #004eeb2e;
     background-color: #004eeb0a;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     color: #004eeb;
     font-size: 0.813rem;
     font-weight: 300;
     }
 .board-badge:not(:first-child) {
   margin-left: 6px;
 }
