.banner-wrapper{
  height: 459px;
}

.banner {
  width: 100%;
  top: 0;
  height: 412px;
  border-radius: .375rem;
  display: flex;
  align-items: flex-end;
}
.--main {
  background: no-repeat left 76% center url(../../../static/images/illust/bg-main.png);
}
.--smart {
  background: no-repeat left 76% center url(../../../static/images/illust/bg-smart.png);
}
.--auto {
  background: no-repeat left 76% center url(../../../static/images/illust/bg-auto.png);
}
.--ai {
  background: no-repeat left 76% center/70rem url(../../../static/images/illust/bg-ai.png);
}



.banner .marketingMessage {
  /* position: absolute; */
  /* top: 265px; */
  padding: 1rem;
  margin-bottom: -62px;
}
.banner .marketingMessage > p {
  margin: 0;
}

.banner .marketingMessage .messageContainer {
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.06);
}

.banner .messageContainer > h1 {
  margin: 0;
  margin-bottom: .875rem;
}
