@charset "UTF-8";
  .ir-notice .tab-wrapper .tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; }
    .ir-notice .tab-wrapper .tab .tab-item {
      flex: 1;
      height: 48px;
      background-color: #f7f8fa;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-top: 1px solid #e1e2e6;
      border-bottom: 1px solid #e1e2e6;
      cursor: pointer; }
      .ir-notice .tab-wrapper .tab .tab-item:not(:last-child) {
        border-left: 1px solid #e1e2e6; }
      .ir-notice .tab-wrapper .tab .tab-item:last-child {
        border-right: 1px solid #e1e2e6; }
      .ir-notice .tab-wrapper .tab .tab-item > a {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -1px;
        text-align: center;
        color: #5a5f66;
        margin: 0; }
      .ir-notice .tab-wrapper .tab .tab-item.active {
        background-color: #2684ff;
        border-bottom: none; }
        .ir-notice .tab-wrapper .tab .tab-item.active a {
          color: white; }
  .ir-notice .tab-wrapper .tab-content {
    padding-top: 0;
    }

  .faq .search-wrapper .search-input {
    position: relative;
    align-items: center;
    display: flex;
    }
    .faq .search-wrapper .search-input > input {
      width: 100%;
      border-radius: 44px;
      height: 40px;
      border: 1px solid #e8eaed;
      padding: 8px 45px 8px 15px;
      font-size: .875rem;
      }
     .faq .search-wrapper .search-input > input:active {
      border: 1px solid #dddddd;
      }
    .faq .search-wrapper .search-input > img {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
      opacity: .5;
      }
  
  .faq .drop-board {
    margin-top: 0;
    }
