@import "color.scss";

/* NotoSansKR 사용 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
  font-family: 'Noto Sans KR',sans-serif;
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR',sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR',sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR',sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR',sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR',sans-serif;
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
  url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
/* Style Font for Logo */
@import url('https://fonts.googleapis.com/css?family=Neucha');
@font-face {
  font-family: 'Neucha', cursive;
  font-style: normal;
  font-weight: normal;
  src: url('https://fonts.googleapis.com/css?family=Neucha');
}

/*------------------------------------*\
  #타이포그라피
\*------------------------------------*/

/* 조건부 사용 텍스트 스타일 정의 */
.display-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 62px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -1.8px;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.display-banner-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.1px;
  color: #3b3d48;
  margin-bottom: 40px;
}

.body-header-text {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #6d7075;
    margin-bottom: 12px;
    margin-top: 12px;
}
.body-header-sub-text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: -0.5px;
    color: #919499;
}
.body-header-sub-text > a {
  opacity: 1;
}

.dividerDot {
  font-family: NotoSansKR, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  color: var(--gunmetal);
  opacity: 0.61;
}

/* 기본사용 텍스트 스타일 정의 */
.h1-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.1px;
  text-align: center;
  color: #3b3d48;
}
.h1-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.1px;
  text-align: right;
  color: #3b3d48;
}
.h1-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 42px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: -0.1px;
  color: #3b3d48;
  margin-bottom: 40px;
}

.h2-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: rgb(27, 31, 38);
  margin-bottom: 40px;
}
.h2-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: right;
  color: #272840;
}
.h2-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #272840;
}

.h3-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.5px;
  text-align: right;
  color: #272840;
}
.h3-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: -0.5px;
  color: #272840;
}
.h3-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: -0.5px;
  text-align: center;
  color: #272840;
}

.h4-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #272840;
}
.h4-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: right;
  color: #272840;
}
.h4-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: -0.3px;
  color: #272840;
}

.h5-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: center;
  color: rgb(27, 31, 38);
}
.h5-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #272840;
  margin-bottom: 24px;
}
.h5-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: right;
  color: #272840;
}

.h6-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #272840;
}
.h6-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #272840;
}
.h6-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: right;
  color: #272840;
}

.h6-m-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #272840;
}
.h6-m-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: right;
  color: #272840;
}

.Link-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #004eeb;
}
.Link-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #004eeb;
}

.p-d-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  color: #1b1f26;
}
.p-d-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.5px;
  text-align: right;
  color: #272840;
}
.p-d-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.5px;
  text-align: center;
  color: #272840;
}

.p-m-d-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #3b3d48;
}
.p-m-d-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -0.6px;
  text-align: center;
  color: var(--battleship-grey);
}
.p-m-d-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: -0.6px;
  text-align: right;
  color: var(--battleship-grey);
}

.eyeBrowNote-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--battleship-grey);
}
.eyeBrowNote-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  text-align: right;
  color: var(--battleship-grey);
}
.eyeBrowNote-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  color: var(--gunmetal);
}

.footNote-left {
  font-family: NotoSansKR, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  color: var(--gunmetal);
}
.footNote-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  text-align: center;
  color: var(--battleship-grey);
}
.footNote-right {
  font-family: NotoSansKR, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: -0.5px;
  text-align: right;
  color: var(--battleship-grey);
}

.label-d-center {
  font-family: NotoSansKR, sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.73;
  letter-spacing: -0.5px;
  text-align: center;
  color: #272840;
}

.home-section {
  opacity: 0.7;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: -0.5px;
  color: #00c7e6;
  border-bottom: 1px solid #00c7e6;
  padding-bottom: 5px;
  margin-bottom: 56px;
}



/* 클래스 뒤에 옵션으로 사용 할 수 있는 텍스트 모드 */
.font-op-subtle {
  opacity: 0.61;
}
.-white {
  color: white;
}
