.service-item {
  margin-bottom: 2rem;
}
.service-item > p {
  margin-bottom: 1rem;
}
.list {
  padding-left: 1rem;
}
.list > li {
  margin-bottom: 0.5rem;
}


.flow-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.flow-div .icon-wrapper {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#before {
  height: 230px;
  border-radius: 6px;
  background: #e1e2e6;
  padding: 10px;
}
#after {
  height: 230px;
  border-radius: 6px;
  background: #0065ff;
  padding: 10px;
}
.flow-content > span {
  opacity: 0.7;
  }
.flow-content > h4 {
  margin-bottom: 9px;
  letter-spacing: -5;
  }
.flow-content > p {
  margin-bottom: 1rem;
  letter-spacing: -5;
  }



.image-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}
.image-list .origin,.after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-list .origin > p {
  margin-top: 1rem;
}
.image-list .after > p {
  margin-top: 1rem;
}

.image-list span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  color: blue;
}
.image-list span img {
  transform: rotate(90deg);
}

.content-reading-section > p {
  margin-bottom: 1rem;
}
