.s-container .m-eyebr-center {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    }

.business-description {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 1rem;
  }

  .business-description > h2 {
    margin-top: 0;
    }

.business-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .business-list .business-item {
    width: 100%;
    padding: 18px 20px;
    border: 1px solid #eee;
    border-radius: 0.375rem;
    }
    .business-list .business-item:not(:last-child) {
      margin-bottom: 0.875rem;
      }

.business-partner {
  margin-top: 29px;
  /* padding-top: 29px; */
  background-color: #272840;
  position: relative;
  margin-bottom: 2rem;
  }
  .business-partner .s-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1.5rem;
    }
    .business-partner .s-container > span {
      font-size: 13px;
      color: #00c7e6;
      margin-bottom: 29px; }
    .business-partner .s-container .partners-slide {
      width: 100%;
      height: 5em;
      overflow-x: hidden;
      padding: 0;
      position: relative;
      }
      .business-partner .s-container .partners-slide .partners {
        position: absolute;
        padding: 0px;
        width: 110%;
        display: flex;
        flex-wrap: nowrap; }
        .business-partner .s-container .partners-slide .partners img:not(:last-child) {
          margin-right: 35px; }
  .business-partner .business-partner-description {
    width: 100%;
    background: #fff;
    position: relative; }
    .business-partner .business-partner-description img {
      position: absolute;
      width: 100%;
      top: -1px;
      z-index: 1; }
    .business-partner .business-partner-description p {
      margin-top: 2.5rem;

      }


  .ability-vision .s-container > p {
    }
  .ability-vision .s-container > h2 {
    }
  .ability-vision .s-container .ability .ability-item {
    width: 100%;
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 0.375rem;
    }
    .ability-vision .s-container .ability .ability-item > h2 {
      font-size: 13px;
      color: #000000;
      text-align: center; }
    .ability-vision .s-container .ability .ability-item .ability-item-content {
      display: none; }
    .ability-vision .s-container .ability .ability-item:first-child {
      margin-bottom: 0.5rem;
      }
  .ability-vision .s-container .vision .vision-item {
    border: 1px solid #e8eaed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    border-radius: 0.375rem;
    }
    .ability-vision .s-container .vision .vision-item > p {
      text-align: center; }
    .ability-vision .s-container .vision .vision-item:not(:last-child) {
      margin-bottom: 1rem;
      }

.ability-vision .education {
  background: #f2f4f7;
  display: flex;
  margin-top: 2rem;
  }
.education .s-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}
    .ability-vision .education .s-container .education-image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
    }
      .ability-vision .education .s-container .education-image > img {
        width: 2rem;
        margin-right: 8px;
        }
      .ability-vision .education .s-container .education-image > h3 {
          margin: 0;
          }
    .ability-vision .education .s-container .education-description > p {
      font-size: 13px;
      color: #292c33; }
    .ability-vision .education .s-container .education-description .education-more {
      margin-top: 1rem;
      display: flex;
      font-size: 0.875rem;
      justify-content: center;
      margin-bottom: 1rem;
      }
      .ability-vision .education .s-container .education-description .education-more > a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none; }

.history {
  padding-top: 32px; }
  .history .container {
    padding: 0 24px; }
    .history .container > p {
      font-size: 13px;
      color: #00c7e6;
      text-align: center; }
    .history .container .history-years {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 40px; }
      .history .container .history-years .history-year-item {
        opacity: 0.2;
        font-size: 24px;
        font-weight: 100;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.8px;
        text-align: center;
        color: #5e6266; }
        .history .container .history-years .history-year-item.active {
          opacity: 1;
          font-size: 24px;
          font-weight: 100;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: -1.2px;
          text-align: center;
          color: #ffab00; }
      .history .container .history-years .history-years-arrow {
        margin-left: 30px;
        margin-right: 30px;
        cursor: pointer; }
        .history .container .history-years .history-years-arrow.arrow-prev img {
          transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform: rotate(180deg); }
        .index-container .contents .history .container .history-years .history-years-arrow img {
          width: 32px; }
    .history .container .history-content {
      display: flex;
      flex-direction: column; }
      .history .container .history-content .history-title {
        font-size: 16px;
        color: #0f1030; }
      .history .container .history-content .history-list .history-item:not(:last-child) {
        margin-bottom: 16px; }
      .history .container .history-content .history-list .history-item .history-month {
        font-size: 14px;
        color: #7548ec;
        font-weight: bold; }
      .history .container .history-content .history-list .history-item .history-description {
        font-size: 13px;
        color: #292c33; }
    .history .container .history-more {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 24px; }
      .history .container .history-more > span {
        font-size: 14px;
        color: #0065ff; }
.ipr {
  margin: 2rem 0;
}
.ipr .s-container {
  /* padding: 0 16px; */
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  .ipr .s-container > p {
    font-size: 13px;
    color: #00c7e6;
    text-align: center; }
  .ipr .s-container > h2 {
     margin-top: 0;
     }
  .ipr .s-container .ipr-table {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    }
    .ipr .s-container .ipr-table .ipr-item {
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid #eee;
      height: 40px;
      font-size: 13px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.4px;
      color: #919499;
      cursor: pointer;
      padding-left: 0.875rem;
      padding-right: 0.875rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      }
      .ipr .s-container .ipr-table .ipr-item:first-child {
        border-top: 1px solid #eee;
        }
  .ipr .s-container .ipr-more {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #0065ff;
    font-size: 14px; }
  .ipr .s-container .ipr-download {
    width: 100%;
    height: 48px;
    background: #004eeb;
    color: white;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 0.875rem;
    }

.location .s-container {
  }
  .location .s-container .location-area .location-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1; }
    .location .s-container .location-area .location-tab .location-tab-item {
      color: #b8bbbf;
      border-bottom: 1px solid #979797;
      cursor: pointer;
      font-size: 0.9375rem;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.7px;
      flex: 1;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      }
      .location .s-container .location-area .location-tab .location-tab-item:hover, .index-container .contents .location .container .location-area .location-tab .location-tab-item.active {
        color: #ffab00;
        border-bottom: 4px solid #ffab00; }
  .location .s-container .location-area .location-content {
    /* padding-top: 27px; */
    }
    .location .s-container .location-area .location-content .location-content-item {
      display: none; }
      .location .s-container .location-area .location-content .location-content-item h5 {
        /* color: #1b1f26; */
        /* font-size: 18px; */
        /* font-weight: 500; */
        /* font-style: normal; */
        /* font-stretch: normal; */
        /* line-height: normal; */
        /* letter-spacing: -0.6px; */
        margin-bottom: -0.125rem;
        }
      .location .s-container .location-area .location-content .location-content-item .item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: end;
        }
        .location .s-container .location-area .location-content .location-content-item .item:first-child {
           border-top: 1px solid #eee;
          }
        .location .s-container .location-area .location-content .location-content-item .item > img {
          margin-right: 16px;
          margin-top: 3px;
          width: 1rem;
          }
        .index-container .contents .location .s-container .location-area .location-content .location-content-item .item > p {
          font-size: 13px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.6;
          letter-spacing: -0.6px;
          margin: 0;
          color: #6d7075; }
      .location .s-container .location-area .location-content .location-content-item.active {
        display: block; }
  .location .s-container .location-map {
    flex: 1;
    margin-top: 24px; }
    .location .s-container .location-map .map {
      display: none;
      width: 100%;
      height: 246px;
      object-fit: contain;
      box-shadow: 0 10px 22px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.01);
      }
      .location .s-container .location-map .map.active {
        display: block; }
      .location .s-container .location-map .map img {
        width: 100%;
        height: 246px; }

.support {
  margin-top: 3rem;
  }
  .support .container {
    padding: 0 16px; }
    .support .container > p {
      /* font-size: 13px; */
      /* color: #00c7e6; */
      /* text-align: center; */
      }
    .support .s-container .support-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      }
      .support .s-container .support-list .item-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        }
        .support .s-container .support-list .item-row:first-child {
          margin-bottom: 8px;
          }
        .support .s-container .support-list .item-row .support-item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 2rem;
          width: 50%;
          height: 10rem;
          background: #f2f4f7;
          }
          .support .s-container .support-list .item-row .support-item > h3 {
            /* font-size: 20px; */
            }
          .support .s-container .support-list .item-row .support-item > img {
            width: 45px;
            height: 45px; }
          .support .s-container .support-list .item-row .support-item:first-child {
            margin-right: 8px; }

.location {
  /* margin-top: 1.5rem; */
}

/* .other-index-container .product-info-area .product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } */
    /* .other-index-container .product-info-area .product-list .product-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }*/
/* .other-index-container .one-stop {
  padding: 0 16px; }

.other-index-container .more-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 0 16px; }
  .other-index-container .more-page .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2F4F7; }
    .other-index-container .more-page .item:first-child {
      margin-right: 8px; } */
