.info-text {width: 100%;margin-bottom: 1.5rem;}

.product-info-area {
  /* display: flex; */
  flex-direction: row;
}
.product-list {
  display: flex;
  flex-direction: row;
  border: 1px solid #eee;
  border-radius: 0.375rem;
  padding: 1rem;
  margin-bottom: 0.875rem;
}
.item-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
}
.item-header > h3 {
  margin: 0;
}
.item-header > img {
  margin-right: 0.875rem;

}

.one-stop {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.one-stop img {
  margin-bottom: 0.875rem;
}

.more-page {
  /* background-color: #eee; */
  margin-top: 3rem;
  margin-bottom: -2rem;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
}
.item:first-child {
  border-top: 1px solid #eee;
}

.item .left-col {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.item .left-col > img {
  margin-right: 0.875rem;
}

.service .service-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}




