.board-badge {
     padding: 0 15px;
     height: 25px;
     border-radius: 13px;
     border: 1px solid blue;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     color: #2684ff;
     }
 .board-badge:not(:first-child) {
   margin-left: 10px;
 }
